
 /* Слайдер */ 
 .slick-slider{}
  /* Слайдер запущен */ 
  .slick-slider.slick-initialized{}
  /* Слайдер с точками */ 
  .slick-slider.slick-dotted{}
	
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */ 
.slick-slide.slick-active{} 
/* Слайд основной */ 
.slick-slide.slick-current{} 
/* Слайд по центру */ 
.slick-slide.slick-center{} 
/* Клонированный слайд */ 
.slick-slide.slick-cloned{}
/* Стрелка */ 
.slick-arrow{} 
/* Стрелка влево */ 
.slick-arrow.slick-prev{} 
/* Стрелка вправо */ 
.slick-arrow.slick-next{} 
/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}

/* Точки (булиты) */ 
.slick-dots{} 
.slick-dots li{} 
/* Активная точка */ 
.slick-dots li.slick-active{} 
/* Элемент точки */ 
.slick-dots li button{} 



.sliderWrapper{
  padding: 0 5%;
  min-width: 0;
  .slider{
    padding: 0 5%;
    position: relative;

    .slick-slide{
      opacity: 0.4;
      transition: 1s ease;
      filter: blur(4px);
    }
    .slick-slide.slick-center{
      opacity: 1;
      filter: blur(0px);
    } 

    /*---------------<>Nav arrows<>-----------------*/
    .slick-arrow{
      position: absolute;
      top: 50%;
      z-index: 4;
      font-size: 0; 
      height: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
      width: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: calc(40% + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
      background-color: transparent;
    }


    .slick-arrow.slick-prev{
      left: 0;
      background-image: url(../img/mountain-theme/navigation/left.svg);

    } 

    .slick-arrow.slick-next{
      right: 0;
      background-image: url(/assets/img/mountain-theme/navigation/right.svg);
    } 

    .slider__item{
      min-width: 0;
      width: auto;
      text-align: center;

    }

/*---------------------Dots-----------------------*/

    .slick-dots{
      padding-top: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      li{
        list-style: none;
        &:not(:last-child){
          margin-right: 3%;
          
          
        }
        button{
          font-size: 0;
          height: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
          width:  calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
          background-color: black;
          border-radius: 50%;
          transition: 0.5s ease;
        }
  }
      .slick-active{
        
        button{
          $wh: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
          background-color: transparent;
          border: 1px solid black;
          height: $wh;
          width: $wh;

        }
      }
    }
}
}

/*---------------------slide text--------------------------*/

.slider__item{
  position: relative;
  span{
    position:absolute;
    left: calc(10% + (28 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: white;
  }
  .slideTitle{
    top: 82%;
    font-size: calc(10.6px + (32 - 10.6) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
  }
  .activites{
    top: 89%;
    font-size: calc(5.66px + (17 - 5.66) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    opacity: 70%;
  }

}