a{
  color: aquamarine;
}

table{
  border: 1px solid black;
  text-align: center;
}

tr, th, td {
  border: 1px dotted black;
}

header{
  background-color: brown;
}

section{
  background-color: bisque;
}

footer{
  background-color: aquamarine;
}

a{
  text-decoration: none;
}

form{
  background: burlywood;
  padding: 1%;
}