@charset "UTF-8";








/*------------------------<general styles>----------------------------*/


%center{
  justify-content: center;
  align-items: center;
}



%colFlexCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


%FW-bold{
  font-weight: bold;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100%;
  position: relative;
}








.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}


.d-flex{
  display: flex;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col{
  align-self: stretch;
  width: 100%;

}


.flex-row{
  flex-direction: row;
}



.tritleContiner{
  padding: 10% 0;
  .regularText{
    line-height: 3;
    font-size: 16px;
  }
  
}

/*------------------------<width>----------------------------*/






@import "../css/null.css",
"../scss/1920X1080/heroScreen/navbar.scss",
"../scss/1920X1080/heroScreen/bottom-button-location-group.scss",
"../scss/templates.scss",
"../scss/1920X1080/heroScreen/popup.scss",
"../scss/1920X1080/heroScreen/heroDescription.scss",
"../scss/1920X1080/Appartements/Appartments.scss",
"../scss/1920X1080/Philosophy/Philosophy.scss",
"../fonts/icons/style.css",
'../scss/1920X1080/Partners/Partners.scss',
"../scss/1920X1080/footer/footer.scss",
'../scss/1920X1080/heroScreen/burgerMenu.scss',
'../css/lightslider.css',
'../scss/1920X1080/slickSlider/slickSlider.scss';


/*--------------------коєффициент 3.3------------------------------------*/


.slideImage{
  height: calc(206.66px + (620 - 206.66) * ((100vw - 320px) / (1920 - 320)));
}



h4{
  font-size: calc(9.6px + (32 - 9.6) * ((100vw - 320px) / (1920 - 320)));
  @extend %FW-bold;
}



h1{
  font-size: calc(35px + (250 - 35) * ((100vw - 320px) / (1920 - 320)));
  @extend %FW-bold
}



h3{
  font-size: calc(14px + (46 - 14) * ((100vw - 320px) / (1920 - 320)));
  @extend %FW-bold;
}




.colHeaderWrapper .topNavlogoContainer .travelx{
  font-size: calc(5.45px + (18 - 5.45) * ((100vw - 320px) / (1920 - 320)));
}

.colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink{
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.explore{
  font-size: calc(9px + (30 - 9) * ((100vw - 320px) / (1920 - 320)));
  letter-spacing: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320)));;
}


.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .numberItem{
  font-size: calc(7.8px + (26 - 7.8) * ((100vw - 320px) / (1920 - 320)));
  
}




.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .philosofyTitleContainer .philosofyDescription{
  font-size: calc(4.8px + (16 - 4.8) * ((100vw - 320px) / (1920 - 320)));
}


.tritleContiner .regularText {
  font-size: calc(4.8px + (16 - 4.8) * ((100vw - 320px) / (1920 - 320)));
  letter-spacing: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320)));;
}


.cardInfoContainer .colCardInfoContainer .reine{
  font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}


.price{
  font-size: calc(6.66px + (20 - 6.66) * ((100vw - 320px) / (1920 - 320)));
}

.rowfooterLogoWrapper .footerNavbarWrapper .colFooterMenuWrapper .footerMenuContainer .footerNavLinkItem .footerNavLink{
  font-size: calc(5.33px + (16 - 5.33) * ((100vw - 320px) / (1920 - 320)));
}

.footerCopyraightMediaWrapper .copyRight{
  font-size: calc(6px + (18 - 6) * ((100vw - 320px) / (1920 - 320)));
}


.heroButtonGroupContainer .locationButtonWrapper .locationDescription .trondheim{
  font-size:calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.heroButtonGroupContainer .locationButtonWrapper .locationDescription .planTrip{
  font-size:calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
}

@media only screen and (max-width:1366px) {



  .colBurgerWrapper{
    width: 10%;
  }

  .rowNavbarContainer{
    justify-content: space-between;

  }

  .rowHeaderWrapper .colBurgerWrapper{
    padding-right: 5%;
  }



}



@media screen and (max-width:1280px) {

}


@media only screen and (max-width:1000px) {

}


@media screen and (max-width:640px) {
  .burgerPopupWrapper{
    width: 90%;
  }
  .colMenuWrapper{
    display: none;
  }
  
.colHeaderWrapper .topNavlogoContainer{
    width: auto;
    display: flex;
    justify-content: center;
    padding-left: 5%;
  }

  .colHeaderWrapper .topNavlogoContainer .logoItem{
    height: 100%;
  }

  .travelxItem{
    display: none;
  }

  .rowHeaderWrapper .colBurgerWrapper{
    width: 40%;
  }
}
