@charset "UTF-8";








/*------------------------<general styles>----------------------------*/


%center{
  justify-content: center;
  align-items: center;
}



%colFlexCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


%FW-bold{
  font-weight: bold;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100%;
  position: relative;
}








.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}


.d-flex{
  display: flex;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col{
  align-self: stretch;
  width: 100%;

}


.flex-row{
  flex-direction: row;
}



.tritleContiner{
  padding: 10% 0;
  .regularText{
    line-height: 3;
    font-size: 16px;
  }
  
}

/*------------------------<width>----------------------------*/






@import "../css/null.css",
"../scss/1920X1080/heroScreen/navbar.scss",
"../scss/1920X1080/heroScreen/bottom-button-location-group.scss",
"../scss/templates.scss",
"../scss/1920X1080/heroScreen/popup.scss",
"../scss/1920X1080/heroScreen/heroDescription.scss",
"../scss/1920X1080/Appartements/Appartments.scss",
"../scss/1920X1080/Philosophy/Philosophy.scss",
"../fonts/icons/style.css",
'../scss/1920X1080/Partners/Partners.scss',
"../scss/1920X1080/footer/footer.scss",
'../scss/1920X1080/heroScreen/burgerMenu.scss',
'../css/lightslider.css',
'../scss/1920X1080/slickSlider/slickSlider.scss';



h4{
  font-size: calc(11px + (32 - 11) * ((100vw - 320px) / (1920 - 320)));
  @extend %FW-bold
}



h1{
  font-size: calc(35px + (250 - 35) * ((100vw - 320px) / (1920 - 320)));
  @extend %FW-bold
}



h3{
  font-size: calc(14px + (46 - 14) * ((100vw - 320px) / (1920 - 320)));
  @extend %FW-bold;
}




.colHeaderWrapper .topNavlogoContainer .travelx{
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink{
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
}


.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .numberItem{
  
  
}

@media only screen and (max-width:1366px) {



  .colBurgerWrapper{
    width: 10%;
  }

  .rowNavbarContainer{
    justify-content: space-between;

  }

  .rowHeaderWrapper .colBurgerWrapper{
    padding-right: 5%;
  }

  .rowHeaderWrapper .colBurgerWrapper{
   
  }

  .philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .philosofyTitleContainer .philosofyTitle{

  }

  .philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .philosofyTitleContainer .philosofyDescription{
    font-size: 0.9rem;
  }

  .starContainer{
    width: 30px;
    padding: 5% 0 3% 0;
  }

  .price{
    font-size:1.3rem;
  }


}



@media screen and (max-width:1280px) {

}


@media only screen and (max-width:1000px) {
  .explore{
    font-size: 1.2rem;
  }
}


@media screen and (max-width:640px) {
  .explore{
    font-size: 0.8rem;
    letter-spacing: 10px;
    line-height: 3;
  }
}