@import "../../templates.scss";

.partnersWrapper{
   padding: 0 5%;
 
   .sectionLabelWrapper{
     justify-content: center;
 
     .tritleContiner{
       padding-bottom: 5%;
     }
 
   }
 
   .rwopartnersWrapper{
     justify-content: space-between;
     width: 60%;
     
   }
   .partnersContainer{
     @extend %colFlexCenter;
     width: 20%;
 
     .partner{
       width: 100%;

     }
     .midea{
      width: 70%;
     }
   }
 }

 
 











@import '../../templates.scss';