@import "../../templates.scss";

.containerHero{
  height: 100%;
}

.rowHeaderWrapper{
   background-image: url(/assets/img/mountain-theme/HERO/Rectangle\ 1.jpg);
   background-position-x: center;
   background-position-y: center;
   background-attachment: fixed;
   background-size: cover;
   background-clip: border-box;
   
}


.rowHeaderWrapper{
  justify-content: center;
  color: white;
  height: 100%;
  a{
    color: white;
  }
  .heroButtonGroupContainer{
    padding: 0;
    align-self: flex-end;

  }

  .rowNavbarWrapper{
    justify-content: center;
    width: 100%;
    z-index: 10;

    .colNavbarWrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position:fixed;
      width: 90%;
      height: 10%;
      background: rgba(0, 0, 0, 0.123);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);

    }
  }

  .colHeaderWrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:2%;
    .logoContainer{
      width: 15%;

      .logoItem{
        align-items: center;
        height: 10%;
      }
      
      .logo{
        width: 46px;
      }

      .travelxItem{
        align-self: center;
      }

      .travelx{

        font-size: 18px;
        font-weight: 600;
      }


      .menuContainer{
        padding: 1rem 0;
        justify-content: center;
      }

    }


    .colMenuWrapper{
        width: 70%;
        justify-content: center;
        justify-self: center;
      
      .menuContainer{
        justify-content: space-around;
        width: 100%;
        
          .navLinkItem{
            text-align: center;
            align-self: center;
            justify-self: center;


            .navLink{
              font-size: 18px;
              font-weight: 400;
              @extend %whiteHoverText;
            }
          }
      }
    

    }


  
  }


  .colBurgerWrapper{

    width: 15%;
    justify-content: end;
    .burger{
      width:35px;
      align-self: center;
    }
  }
  
}