/*------------------------<general styles>----------------------------*/
@import "../css/null.css";
@import "../fonts/icons/style.css";
.partnersWrapper .partnersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4, h3, h1 {
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 100%;
  position: relative;
}

h1 {
  font-size: 250px;
}

h3 {
  font-size: 46px;
}

h4 {
  font-size: 32px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  align-self: stretch;
  width: 100%;
}

.flex-row {
  flex-direction: row;
}

/*------------------------<width>----------------------------*/
.tritleContiner {
  padding: 15% 0;
}
.tritleContiner .regularText {
  line-height: 3;
  letter-spacing: 10px;
}

.icon-facebook {
  font-size: 22px;
}

.icon-twitter {
  font-size: 22px;
}

.icon-instagram {
  font-size: 24px;
}

.rowfooterLogoWrapper {
  height: 484px;
}
.rowfooterLogoWrapper .footerNavbarWrapper {
  align-content: center;
}
.rowfooterLogoWrapper .footerNavbarWrapper .colMenuWrapper {
  justify-content: center;
}
.rowfooterLogoWrapper .footerNavbarWrapper .colMenuWrapper .menuContainer {
  width: 50%;
  line-height: 8;
  align-items: center;
  justify-content: space-between;
}
.rowfooterLogoWrapper .footerNavbarWrapper .colMenuWrapper .menuContainer .navLinkItem {
  text-align: center;
}
.rowfooterLogoWrapper .footerNavbarWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink {
  font-size: 18px;
  color: #6D6D6D;
}
.rowfooterLogoWrapper .horisontalLine {
  border-top: 2px solid #c9c9c9;
  width: 60%;
}

.travelxItem {
  justify-content: center;
  line-height: 1.5;
  font-size: 24px;
}

.footerLogo {
  justify-content: center;
  position: relative;
  height: 67px;
  align-items: center;
}

.logoItem .logo {
  position: absolute;
}
.logoItem .logoMountains {
  z-index: 3;
  right: 47.755%;
}

.colfooterLogoWrapper {
  align-self: center;
  height: 100%;
  width: 90%;
}

.footerCopyraightMediaWrapper {
  justify-content: space-between;
}
.footerCopyraightMediaWrapper .footerCopyraightItem {
  width: 30%;
  line-height: 10;
}
.footerCopyraightMediaWrapper .copyRight {
  font-size: 18px;
  color: #6D6D6D;
}

.rowfooterLogoWrapper {
  background-color: #f4f4f4;
  justify-content: center;
}

/*------------------------<import>----------------------------*/
.heroButtonGroupContainer .locationButtonWrapper {
  background: rgba(255, 255, 255, 0.158);
}

.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink {
  color: white;
  transition: 1s ease;
  border-color: rgba(255, 255, 255, 0.178);
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink:hover {
  color: black;
  transition: 1s ease;
}

.containerHero {
  height: 100%;
}

.rowHeaderWrapper {
  background-image: url(/assets/img/mountain-theme/HERO/Rectangle\ 1.jpg);
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  background-clip: border-box;
}

.rowHeaderWrapper {
  justify-content: center;
  color: white;
  height: 100%;
}
.rowHeaderWrapper a {
  color: white;
}
.rowHeaderWrapper .heroButtonGroupContainer {
  padding: 0;
  align-self: flex-end;
}
.rowHeaderWrapper .rowNavbarWrapper {
  justify-content: center;
  width: 100%;
  z-index: 10;
}
.rowHeaderWrapper .rowNavbarWrapper .colNavbarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 90%;
  height: 10%;
  background: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.rowHeaderWrapper .colHeaderWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2%;
}
.rowHeaderWrapper .colHeaderWrapper .logoContainer {
  width: 15%;
}
.rowHeaderWrapper .colHeaderWrapper .logoContainer .logoItem {
  align-items: center;
  height: 10%;
}
.rowHeaderWrapper .colHeaderWrapper .logoContainer .logo {
  width: 46px;
}
.rowHeaderWrapper .colHeaderWrapper .logoContainer .travelxItem {
  align-self: center;
}
.rowHeaderWrapper .colHeaderWrapper .logoContainer .travelx {
  font-size: 18px;
  font-weight: 600;
}
.rowHeaderWrapper .colHeaderWrapper .logoContainer .menuContainer {
  padding: 1rem 0;
  justify-content: center;
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper {
  width: 70%;
  justify-content: center;
  justify-self: center;
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer {
  justify-content: space-around;
  width: 100%;
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem {
  text-align: center;
  align-self: center;
  justify-self: center;
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink {
  font-size: 18px;
  font-weight: 400;
}
.rowHeaderWrapper .colBurgerWrapper {
  width: 15%;
  justify-content: end;
}
.rowHeaderWrapper .colBurgerWrapper .burger {
  width: 35px;
  align-self: center;
}

.heroButtonGroupContainer .locationButtonWrapper {
  background: rgba(255, 255, 255, 0.158);
}

.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink {
  color: white;
  transition: 1s ease;
  border-color: rgba(255, 255, 255, 0.178);
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink:hover {
  color: black;
  transition: 1s ease;
}

.heroButtonGroupContainer {
  width: 100%;
  padding: 4% 0 4% 0;
  justify-content: space-between;
  align-self: flex-end;
}
.heroButtonGroupContainer .rowHeroButtonGroupContainer {
  justify-content: space-between;
}
.heroButtonGroupContainer .locationButtonWrapper {
  flex-grow: 0.2;
  height: 108px;
  width: 28%;
  justify-content: start;
  transition: 0.7s;
  border-radius: 5px;
}
.heroButtonGroupContainer .locationButtonWrapper:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 12%, rgba(0, 0, 0, 0.05) 90%);
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.heroButtonGroupContainer .locationButtonWrapper .locationButton {
  display: flex;
  background: none;
  height: 100%;
  text-align: start;
  color: white;
  align-items: flex-end;
  border-radius: 25%;
}
.heroButtonGroupContainer .locationButtonWrapper .locationIconContainer {
  flex-grow: 0.3;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.heroButtonGroupContainer .locationButtonWrapper .locationIcon {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.205);
  text-align: center;
}
.heroButtonGroupContainer .locationButtonWrapper .locationDescription {
  line-height: 1.5;
  align-self: center;
}
.heroButtonGroupContainer .locationButtonWrapper .locationDescription .trondheim {
  font-weight: bold;
  font-size: 1.1vw;
}
.heroButtonGroupContainer .locationButtonWrapper .locationDescription .planTrip {
  font-size: 0.9vw;
}

.heroButtonGroupContainer {
  justify-content: center;
}
.heroButtonGroupContainer .colHeroButtonGroupContainer {
  width: 90%;
}

.heroButtonGroupContainer .locationButtonWrapper {
  background: rgba(255, 255, 255, 0.158);
}

.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink {
  color: white;
  transition: 1s ease;
  border-color: rgba(255, 255, 255, 0.178);
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink:hover {
  color: black;
  transition: 1s ease;
}

.PopupWrapper {
  height: 100%;
  width: 100%;
}

.callPopup {
  cursor: pointer;
  width: 100%;
  justify-self: center;
  align-self: center;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 25px;
  transform: rotate(45deg);
  cursor: pointer;
}

.submit {
  padding: 2% 0;
  width: 80%;
}

#PopupTrigger:checked ~ .PopupWrapper {
  top: 0;
}

#PopupTrigger {
  display: none;
}

.PopupWrapper {
  position: absolute;
  z-index: 999;
  top: -100%;
  transition: 0.1ms;
}
.PopupWrapper .PopupContainer {
  background-color: rgba(0, 0, 0, 0.829);
  justify-content: center;
}
.PopupWrapper .PopupContainer .formWrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.PopupWrapper .PopupContainer .popupFormWrapper {
  position: relative;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.616);
  height: 50%;
  padding: 2% 1% 2% 1%;
  justify-content: space-evenly;
  align-items: center;
  min-width: 250px;
  width: 50%;
}
.PopupWrapper .PopupContainer .popupFormWrapper .inputContainer {
  justify-content: center;
}
.PopupWrapper .PopupContainer .popupFormWrapper .inputContainer .inputContainer {
  justify-content: center;
  align-items: center;
}
.PopupWrapper .PopupContainer .popupFormWrapper .inputDescription {
  justify-self: center;
  font-size: 10px;
}
.PopupWrapper input {
  border: 1px solid gray;
  margin: 4% auto;
  padding: 1% 1% 1% 1%;
  cursor: pointer;
  width: 80%;
}

.rowSocialDescriptionWrapper {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 20%;
}
.rowSocialDescriptionWrapper .colSocialWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 10%;
}
.rowSocialDescriptionWrapper .heroDescription {
  position: relative;
  align-self: center;
  width: 80%;
}
.rowSocialDescriptionWrapper .heroDescription .exploreWrapper {
  position: absolute;
  bottom: 90%;
  left: 37.6%;
}

.leftLine {
  width: 10%;
  border-right: 2px solid rgba(255, 255, 255, 0.205);
}

.socialIco {
  line-height: 3;
}

.card .cardContainer .cardStarsWrapper, .card .cardContainer .cardDescriptionWrapper, .card .cardContainer .cardLabelWrapper, .card .cardContainer .cardphotoWrapper {
  justify-content: center;
  align-items: center;
}

.wrapperCardGroup {
  justify-content: center;
  padding-bottom: 10%;
}

.wrapperCardGroup .colcardSectionContainer {
  width: 90%;
}

.wrapperCardGroup .colcardSectionContainer .rowcardSectionContainer {
  justify-content: space-between;
}

.card {
  height: 430px;
  width: 30%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  border-radius: 2%;
}

.card:hover {
  background: linear-gradient(50deg, rgba(255, 255, 255, 0.4) 12%, rgba(255, 255, 255, 0.1) 77%);
  box-shadow: 0px 29px 20px 0px rgba(0, 0, 0, 0.15);
}

.card .transitionTextWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  transition: 0.7s ease;
}

.card .transitionTextWrapper:hover {
  color: rgb(255, 255, 255);
  font-size: large;
  background-color: rgba(0, 0, 0, 0.788);
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  cursor: pointer;
}

.card .transitionTextWrapper:hover:after {
  border: 1px solid white;
}

.card .transitionTextWrapper .transitionTextContainer {
  padding: 2%;
}

.card .cardContainer .cardphotoWrapper .cardPhotoContainer {
  position: relative;
  align-items: center;
}

.card .cardContainer .cardphotoWrapper .cardPhotoContainer .cardPhoto {
  width: 100%;
}

.card .cardContainer .cardLabelWrapper {
  height: 15%;
}

.card .cardContainer .cardDescriptionWrapper .cardDescriptionContainer {
  width: 60%;
}

.card .cardContainer .cardStarsWrapper {
  width: 100%;
}

.cardInfoContainer {
  padding: 5%;
}

.cardInfoContainer .rowCardInfoContainer {
  padding: 20px 0 10px 0;
}

.cardInfoContainer .colCardInfoContainer .reine {
  font-size: 30px;
  font-weight: 600;
  width: 40%;
}

.CardGroupWrapper {
  justify-content: center;
  line-height: 1.5;
}

.CardGroupTitleContiner {
  text-align: center;
}

.Hotels {
  font-size: 46px;
  font-weight: bold;
}

.beauties {
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 7px;
}

.price {
  font-size: 20px;
  font-weight: 400;
  color: #959595;
}

.starContainer {
  width: auto;
}

.philosofyWrapper {
  justify-content: center;
}
.philosofyWrapper .tritleContiner {
  padding-top: 10%;
}
.philosofyWrapper .philosofyContainer {
  width: 90%;
}
.philosofyWrapper .philosofyContainer .philosofyLabelWrapper {
  justify-content: center;
  text-align: center;
  padding: 190px 0;
}
.philosofyWrapper .philosofyContainer .philosofyLabelWrapper .about {
  font-size: 16px;
}
.philosofyWrapper .philosofyContainer .philosofyLabelWrapper .philosophy {
  font-size: 46px;
  font-weight: bold;
}
.philosofyWrapper .philosofyContainer .philosofyImage {
  width: 100%;
}
.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer {
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}
.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .numberItem {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  font-size: 26px;
  font-weight: 400;
  color: #9B9B9B;
}
.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .philosofyTitleContainer {
  width: 70%;
}
.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .philosofyTitleContainer .philosofyTitle {
  font-weight: bold;
  font-size: 32px;
}
.philosofyWrapper .philosofyContainer .philosofyDescriptionContainer .philosofyTitleContainer .philosofyDescription {
  width: 100%;
  line-height: 2;
  font-size: 16px;
  font-weight: medium;
  color: #6D6D6D;
  padding-top: 20px;
}

.philosofyImageContainer {
  width: 60%;
}

.philosofyDescriptionItem {
  width: 100%;
}

.philosofyDescriptionContainer {
  width: 100%;
}

.philosofhyWrapper {
  width: 100%;
}

.partnersWrapper {
  padding: 0 5%;
}
.partnersWrapper .sectionLabelWrapper {
  justify-content: center;
}
.partnersWrapper .sectionLabelWrapper .tritleContiner {
  padding-bottom: 5%;
}
.partnersWrapper .rwopartnersWrapper {
  justify-content: space-between;
  height: 70%;
}
.partnersWrapper .partnersContainer {
  width: 20%;
}
.partnersWrapper .partnersContainer .partner {
  width: 100%;
}

.heroButtonGroupContainer .locationButtonWrapper {
  background: rgba(255, 255, 255, 0.158);
}

.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink {
  color: white;
  transition: 1s ease;
  border-color: rgba(255, 255, 255, 0.178);
}
.rowHeaderWrapper .colHeaderWrapper .colMenuWrapper .menuContainer .navLinkItem .navLink:hover {
  color: black;
  transition: 1s ease;
}/*# sourceMappingURL=style.css.map */