@charset "UTF-8";
/*------------------------Обнуление-------------------------*/
@import "css/null.css";
/*------------------------<bootstrap import>----------------------------*/
@import "css/bootstrap.css";
@import "css/bootstrap-grid.css";

/*------------------------<FLEX-BOX>----------------------------*/
.dflex {
  display: flex;
  justify-content:space-around;
}

.text-block{
  line-height: 2;
}

.col{
  margin: 3% 0;
}

.navbar {
  width: 80%;
}

.navbar-item a{
  text-transform: uppercase;
  line-height: 10;
}

.navbar-item{
  flex-grow: 1;
}
.contacts .logo{
  width: 50px;
}

.contacts :not(:first-child){
  margin-left: 1%;
}

.wrapper1 .banner{
  width: 100%;
}


@include media-breakpoint-down(md){
  .description col{
    width: 100%;
  }
}
